@*@page
@model SoundScape_Tour_Guide_Website.Pages.Account.SearchBarModel
@{
}
<h1>Søgefelt</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Søg: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>*@


@*RRRRRRREEEEEEEAAAAAADDDDDDDD MMMMMEEEEEEE:*@
@*Skal ikke bruges der søge funktion ligger unde Guide.cshtml.cs i Onpost*@
