@page
@model SoundScape_Tour_Guide_Website.Pages.AboutModel
@{
    ViewData["Title"] = "Omkring Os";
}
<h1>
    Omkring SoundScape Tour Guide
</h1>
    <p>
        SoundScape Tour Guide er en moderne måde at opleve Ragnarock Museum.
    </p>
    <p>
        Udviklet af Nicolai Ackermann, Alexander Hoystad, Eugene Carlo Maderazo Bernardo, og Thor Glenning.
    </p>