@page
@model GuideModel
@{
    ViewData["Title"] = "Guidet Tur!";
}
<h1>@ViewData["Title"]</h1>

<p>Klik på play på lydfilen for at begynde.</p>

<p>
    <a asp-page="CreateSound">Tilføj ny lydaspiller</a>
</p>

    <audio controls="controls">
        <source src="~/audio/purplehaze.mp3" type="audio/mpeg" />
        <source src="~/audio/purplehaze.ogg" type="audio/ogg" />
    </audio>
