@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  
    <audio controls="controls">
        <source src="~/audio/purplehaze.mp3" type="audio/mpeg" />
        <source src="~/audio/purplehaze.ogg" type="audio/ogg" />
    </audio>
</div>
